.mainCard {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    column-gap: 2rem;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    max-width: 90rem;
    padding: 0.5rem 0;
    margin-bottom: 2rem;
}
.cardImage {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
.cardImage img {
    margin-left: 0.5rem;
    max-width: 20rem;
    max-height: 20rem;
}
.cardText {
    text-align: left;
}