.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.documentDiv,
.documentFrame {
  width: 60vw;
  height: 80vh;
}

.holderParent {
  margin: 2rem 4rem;
  padding: 0.25rem 1rem;
  background-color: white;
  border-radius: 10px;
  width: 55rem;/*
  min-width: 80rem;
  max-width: 80rem; */
}
.textHolder {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
  padding: 0.25rem 1rem;
  background-color: #00FFFF;
  border-radius: 10px;
}
/* @media (max-width: 800px) {
  .holderParent {
    margin: 2rem 0;
  }
} */