.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* @TODO: FIX CSS CENTER AUTOSTYLE (SMALL SCREEN CANT SEE TXT)
.holderParent {
  margin-top: 4rem;
  background-color: white;
  border-radius: 10px;
  width: 80rem;
} */

/* .textHolder {
  margin: 2rem 2rem;
  padding: 0.25rem 1rem;
  background-color: #00FFFF;
  border-radius: 10px;
  text-indent: 3rem;
} */
