.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
/* @TODO: FIX CSS CENTER AUTOSTYLE (SMALL SCREEN CANT SEE TXT)*/
.holderParent {
  margin-top: 4rem;
  background-color: white;
  border-radius: 10px;
  width: 80rem;
}
.holderParent h1 {
  margin: 0;
  background-image: linear-gradient(45deg, violet, indigo, blue, green, yellow, orange, red);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: rainbow 10s linear infinite;
  background-size: 600% 600%;
}
.textHolder {
  margin: 2rem 2rem;
  padding: 0.25rem 1rem;
  background-color: #00FFFF;
  border-radius: 10px;
  text-indent: 3rem;
}

@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
